@model BugTrackerService.Models.TicketViewModels.TicketCommentViewModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Details of bug";
}

<h2>Details</h2>

<div class="container">
    <h4>Ticket</h4>
    <hr />
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.OwnerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.Owner.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.EmployeeId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.Employee.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.ProductId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.Product.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.StatusId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.Status.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.PriorityId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.Priority.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.UpdateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ticket.UpdateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.Comments)
            </dt>
                @foreach (var comment in Model.Ticket.Comments)
                {
                    <dd>
                        <br/>
                        <div class="row" style="margin-bottom:6px;">
                            <div class="col-md-6">
                                <div class="pull-left"><b>@comment.User.FullName</b></div>
                                <div class="pull-right">
                                    @comment.SendTime
                                    @if ((UserManager.GetUserId(User).Equals(Model.Ticket.OwnerId)) || User.IsInRole("Admin") || User.IsInRole("Employee"))
                                    {
                                        <a href="javascript:void(0);" data-id="@comment.CommentID" class="deleteItem">X</a>
                                    }
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-md-6" style="margin-bottom:6px;">@comment.Content</div>
                        </div>
                        </dd>
                }
        </dl>
        @foreach (var item in Model.Ticket.FileDetails)
        {
            if (item.Extension == ".png" || item.Extension == ".jpg" || item.Extension == ".gif" || item.Extension == ".jpeg")
            {
                <a class="title" href="/Tickets/DownloadFile/?fileName=@(item.Id + item.Extension)&ticketId=@item.TicketId">
                    <img src="/Uploads/@(item.Id + item.Extension)" alt="@item.FileName" height="200 " width="200" />
                </a><br />
            }
            else
            {
                <a class="title" href="/Tickets/Download/?fileName=@(item.Id + item.Extension)&ticketId=@item.TicketId">@item.FileName</a>
            }

        }
    </div>
</div>
<div class="form-group">
    <form asp-action="Details">
        <label asp-for="Comment" class="control-label"></label>
        <textarea asp-for="Comment.Content" class="form-control" placeholder="Add comment!"></textarea>
        <span asp-validation-for="Comment.Content" class="text-danger"></span>
        <input type="submit" value="Add comment" class="btn btn-default" />
    </form>
</div>

<div>
    @if ((UserManager.GetUserId(User).Equals(Model.Ticket.OwnerId)) && User.IsInRole("Owner") || User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Ticket.TicketId">Edit</a>
        </div>
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this file?')) {
                $.ajax({
                    url: '@Url.Action("DeleteComment")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    console.log($(this).data('id'))
                    if (data.result) {
                        $ctrl.closest('dd').remove();
                    }
                    else if (!data.result) {
                        alert(data.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>

}