@model IEnumerable<BugTrackerService.Data.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Reports</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create new report!</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>Before create new report, find a key-word in title: </p>
        <input id="filter" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OwnerSortParm"]">@Html.DisplayNameFor(model => model.OwnerId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrioritySortParm"]">@Html.DisplayNameFor(model => model.Priority)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductSortParm"]">@Html.DisplayNameFor(model => model.ProductId)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AssignedSortParm"]">@Html.DisplayNameFor(model => model.EmployeeId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.UpdateDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status.ToString() != "Completed" || (ViewData["currentFilter"]!=null && ViewData["currentFilter"].ToString().Equals(item.Title)))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @{
                            if (item.EmployeeId != null)
                            {
                                @Html.DisplayFor(modelItem => item.Employee.FullName)
                            }
                            else
                            {
                                @:Not Assigned
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.TicketId">Show details</a> |
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>