@model IEnumerable<BugTrackerService.Data.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Reports</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create new report!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TicketId">
                        @Html.DisplayFor(modelItem => item.Description)
                    </a>
                </td>
                <td>
                    @{
                        if (item.EmployeeId != null)
                        {
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        }
                        else
                        {
                            @:Not Assigned
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>
