@model IEnumerable<BugTrackerService.Data.Models.Ticket>

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Your Tickets</h2>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OwnerSortParm"]">@Html.DisplayNameFor(model => model.OwnerId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrioritySortParm"]">@Html.DisplayNameFor(model => model.Priority)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductSortParm"]">@Html.DisplayNameFor(model => model.ProductId)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AssignedSortParm"]">@Html.DisplayNameFor(model => model.EmployeeId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.UpdateDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.TicketId">
                        @Html.DisplayFor(modelItem => item.Description)
                    </a>
                </td>
                <td>
                    @{
                        if (item.EmployeeId != null)
                        {
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        }
                        else
                        {
                            @:Not Assigned
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
            </tr>
        }
    </tbody>
</table>
